<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>RangoCard - Esqueci a senha</title>
</head>
<body>
<img src="{{asset('assets/images/logo-rangocard.png') }}" alt="Logo Rangocard" style="width:200px;display:block;margin: 0 auto 50px;" />
<p>Para alterar sua senha, <a href="{{ url('changepassword', {user: salt, type: type}) }}" target="_blank">clique aqui</a></p>
</body>
</html>