<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
	 <img src="{{asset('assets/images/logo-rangocard.png') }}" alt="Logo Rangocard" style="width:200px;display:block;margin: 0 auto 50px;" />
    <p>Parabéns, você ganhou um selo na promoção {{ sale.name }}</p>
</body>
</html>