<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{ isRestaurant() ? path('restaurant_home') : path('user_home') }}">Home</a>
        </li>
        {% if currentPage is defined %}
            <li class="active">{{ currentPage }}</li>
        {% endif %}
    </ul>
</div>