{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    {% include '@App/header-general.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form id="formContact" class="edit-cadastro col-edit-cadastro col-xs-12 col-sm-8" name="formContact" action="{{ path('changepassword', {user: salt, type: type}) }}" method="post">
                    <div class="form-group col-xs-12">
                        <label for="password">Senha*:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}