{% extends '@App/base.html.twig' %}

{% block content %}
    {% include '@App/header-general.html.twig' %}
	<div class="bg bg-sobre">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Sobre o RangoCard</h1>
					<p>O RangoCard foi desenvolvido para facilitar a fidelização de clientes que frequentam estabelecimentos que adotam o uso de cartão fidelidade como forma de bonificar seus clientes.
					</p>
					<h3>RangoCard tem como objetivo extinguir o uso do cartão fidelidade por vários motivos:</h3>
					<ul>
						<li>Perda do cartão fidelidade.</li>
						<li>Esquecimento do cartão fidelidade, desta forma não consegue pontuar.</li>
						<li>Sistema não é confiavel.</li>
						<li>Estabelecimentos não conhecem os seus clientes</li>
					</ul>
					<p>Para saber mais é simples, casdastre-se <a href="{{ path('user_home') }}">aqui</a> se você for um cliente ou cadastra-se <a href="{{ path('restaurant_home') }}">aqui</a> se for um estabelecimento e conheça como funciona o RangoCard!</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}